<% content_tag_for :li, commit do %>
  <pre><%= link_to commit.short_message, project_commit_path(@project, commit.id) %></pre>
<%=   gravatar_img_for(commit) %>

    <strong><%= commit.author.name  %></strong> (author)<br/>
    <em><%= commit.committed_date.to_s(:short) %></em>    
  </p>
  <dl>
    <dt>sha1</dt>
    <dd><pre><%= commit.id %></pre></dd>
    
    <% commit.parents.each do |parent| %>
    <dt>parent</dt>
    <dd><pre><%= parent.id %></pre></dd>
    <% end %>
    
    <dt>tree</dt>
    <dd><pre><%= commit.tree.id %></pre></dd>
  </dl>
<% end %>