<h1>Builder Daemon Status</h1>
<p><%= @builder_daemon_status %>
<% form_tag('/status', :method => :put) do  %>  
<%= hidden_field_tag('what', 'restart_builder') %>
<%= submit_tag 'restart' %>
<% end  %>
</p>

<h1>Current plugins</h1>
<ul>
<% @plugins.each do |plugin| %>
  <%= content_tag :li,  plugin.name %>
<% end %>
</ul>

<h1>WebServer Environment</h1>
<p><%= @environment %></p>
